{% extends "base.html" %}
{% block title %}ホーム{% endblock %}
{% block body %}
<div class="all">
    <div class="Navigation">
        <div class="page-header">
            ホーム画面
        </div>
 　      　 <div>
                <button class="button home" type="button" onclick="location.href='{% url 'home:home' %}'">ホーム</button>
            </div>

           <!--<div>
                <button class="button setting" type="button"
                    onclick="location.href='{% url 'home:setting' %}'">設定</button>
            </div>-->
            <div>
                <button class="button logs" type="button" onclick="location.href='{% url 'home:logs' %}'">写真ログ</button>
            </div>
            <!--<div>
                <button class="button sensorlogs" type="button"
                    onclick="location.href='{% url 'home:sensorlogs' %}'">反応ログ</button>
            </div>-->

    </div>
    <div class="content">
                    <br><br><br>
                    <img src="/media/images/{{ path }}" width=70% height=70% border=0>
                    <br><label>最後に撮影した画像　{{ data }}<br> センサー：{{ Name }}</label>
    </div>
</div>
{% endblock %}
