{% extends "base.html" %}
{% block title %}ログ{% endblock %}
{% block body %}
<div class="all">
    <div class="Navigation">
        <div class="page-header">
            写真ログ
        </div>
            <div>
                <button class="button home" type="button" onclick="location.href='{% url 'home:home' %}'">ホーム</button>
            </div>
            <!--<div>
                <button class="button setting" type="button"
                    onclick="location.href='{% url 'home:setting' %}'">設定</button>
            </div>-->
            <div>
                <button class="button logs" type="button" onclick="location.href='{% url 'home:logs' %}'">写真ログ</button>
            </div>

            <!--<div>
                <button class="button sensorlogs" type="button"
                    onclick="location.href='{% url 'home:sensorlogs' %}'">反応ログ</button>
            </div>-->
    </div>
    <div class="content">
        <div class="imagelog">      
        <div class="row">
        <br><br><br>                   
        {% for log in logs %}
            
                撮影日時：{{ log.imagedata }}
                <br>
                <img src="/media/images/{{ log.path }}" width="50%" height="50%" border="0">             
            <br>
            <br>                    
        {% endfor %} 
        </div>                    
        </div>        
    <br><br><br>
    </div>
</div>
{% endblock %}
