{% extends "base.html" %}
{% block title %}ログ{% endblock %}
{% block body %}
<div class="all">
    <div class="Navigation">
        <div class="page-header">
            <h1>ログ</h1>
        </div>
        <label class="col-sm-2 control-label">
            <div>
                <button class="button home" type="button" onclick="location.href='{% url 'home:home' %}'">ホーム</button>
            </div>
            <div>
                <button class="button setting" type="button"
                    onclick="location.href='{% url 'home:setting' %}'">設定</button>
            </div>
            <div>
                <button class="button logs" type="button" onclick="location.href='{% url 'home:logs' %}'">写真ログ</button>
            </div>
        </label>
    </div>
    <div class="content">
                        <table class="table">
                            {% for slog in slogs %}
                            <tr>
                                <td>{{ slog.imagedata }}</td>
                                <td>{{ slog.Name}}</td>
                            </tr>
                            {% endfor %}
                        </table>
            <br>センサーの反応履歴を表示<br>
    </div>
</div>

    {% endblock %}
