{% extends "base.html" %}
{% block title %}設定{% endblock %}
{% block body %}
<div class="all">
    <div class="Navigation">
        <div class="page-header">
            <h1>設定</h1>
        </div>
      
            <div>
                <button class="button home" type="button" onclick="location.href='{% url 'home:home' %}'">ホーム</button>
            </div>
            <div>
                <button class="button logs" type="button" onclick="location.href='{% url 'home:logs' %}'">写真ログ</button>
            </div>
           <!--<div>
                <button class="button sensorlogs" type="button"
                    onclick="location.href='{% url 'home:sensorlogs' %}'">反応ログ</button>
            </div>-->
     
    </div>

    <div class="content">
        <div class="row">
            <div class="col-sm-10">
                <label class="col-sm-10 control-label">
                    <br><br><br>
                    {% for t in table %}
                    <form action="" method="get">
                        <label>{{ t.id }}:<input type="text" name="{{ t.id }}_update" size="25" maxlength="20"
                                placeholder="{{t.Name}}"></label>
                        <input type="submit" value="send">
                    </form>
                    {% endfor %}
                </label>
            </div>
        </div>
    <br>
    機器の名前変更<br>
    </div>
</div>
{% endblock %}
